.DS_Store
*.sublime-workspace
*.sublime-project
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.db
*.p
*.pickle
venv/
.venv/
.env
*.so.dSYM/
.reference
.pytest_cache
*.so
.tox
MANIFEST
dist/
*.egg-info
